body {
     max-width: 1200px;
     margin: auto;
     font-size: 20px;
     font-family: Arial;
}
.note {
     border: 1px solid black;
     padding: 12px;
     margin-bottom: 5px;
}
 input, textarea {
     font-size: 20px
}
 .add-form div {
     margin: 5px 0;
}
 .add-form input {
     height: 30px;
     width: 100%;
}
 .add-form textarea {
     width: 100%;
     height: 200px;
}
 .add-form label {
     margin-bottom:5px
}
 button {
     padding: 0.375rem 0.75rem;
     border-radius: 10px;
     background-color: white;
     border: 1px solid black;
     font-size: 1rem
}
 button:hover {
     cursor: pointer;
     border: 2px solid blue;
}
 .add-form {
     width:500px
}
 .note-buttons {
     display: flex;
     gap: 5px;
}
 .menu {
     display: flex;
     gap: 5px;
     margin-bottom: 30px;
}
 .errorlist {
     color: red;
}
 td, th {
     border: 1px solid black;
     padding: 8px;
     text-align: left;
}
